CMakeFiles/
.cproject
.project
.idea/
.vscode
build/
output/
cmake-build-*/
CMakeCache.txt
uninstall.cmake
*/cmake_install.cmake
*.pc
*.so.*
*.so
/cppcheck_report.txt
/cppcheck_log.txt
/clion-environment
/workspace
/.vs
/artifacts/Debug
*.user
/artifacts/Release
*.pyc
Makefile
cmake_install.cmake
install_manifest.txt
*/*/Makefile
*/*/cmake_install.cmake
*/*/*Config.cmake
*/*/*ConfigVersion.cmake
*/*/*.a
*/*/*/Makefile
*/*/*/cmake_install.cmake
*/*/*/*Config.cmake
*/*/*/*ConfigVersion.cmake
Source/deviceinfo/device_info/device_info
Source/displayinfo/display_info/display_info
Source/playerinfo/player_info/player_info
*/*/*/*/*tests
*/*/generated
*/*/*/*/lib*.a
.cache
compile_commands.json
