name: Build ThunderClientLibraries on Windows

# CHANGE TO MASTER
on:
  push:
    branches: ["development/actions-windows"]
  pull_request:
    branches: ["master"]
  workflow_call:

env:
  cryptography: ThunderClientLibraries\Source\cryptography\Cryptography.vcxproj
  devEnv: C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\devenv.com
  deviceinfo: ThunderClientLibraries\Source\deviceinfo\DeviceInfo.vcxproj
  displayinfo: ThunderClientLibraries\Source\displayinfo\displayinfo.vcxproj
  ocdm: ThunderClientLibraries\Source\ocdm\ocdm.vcxproj
  securityagent: ThunderClientLibraries\Source\securityagent\securityagent.vcxproj
  solution: Thunder.sln
  virtualinput: ThunderClientLibraries\Source\virtualinput\virtualinput.vcxproj

# CHANGE TO RDKCENTRAL
jobs:
  ThunderInterfaces:
    uses: VeithMetro/Thunder/.github/workflows/Build ThunderInterfaces on Windows.yml@master

  Interfaces:
    needs: ThunderInterfaces

    runs-on: windows-latest

    strategy:
      matrix:
        type: [Debug, Release]
        version: [64, 86]

    name: Build type - ${{matrix.type}}${{matrix.version}}
    steps:
    - name: Checkout ThunderOnWindows
      uses: actions/checkout@v3
      with:
        path: ThunderOnWindows
        repository: WebPlatformForEmbedded/ThunderOnWindows

    - name: Checkout Thunder
      uses: actions/checkout@v3
      with:
        path: ThunderOnWindows/Thunder
        repository: ${{github.repository_owner}}/Thunder

    - name: Checkout ThunderTools
      uses: actions/checkout@v3
      with:
        path: ThunderOnWindows/ThunderTools
        repository: ${{github.repository_owner}}/ThunderTools

    - name: Checkout ThunderClientLibraries
      uses: actions/checkout@v3
      with:
        path: ThunderOnWindows/ThunderClientLibraries
        repository: ${{github.repository_owner}}/ThunderClientLibraries

    - name: Checkout ThunderInterfaces
      uses: actions/checkout@v3
      with:
        path: ThunderOnWindows/ThunderInterfaces
        repository: ${{github.repository_owner}}/ThunderInterfaces

    - name: Checkout ThunderNanoServices
      uses: actions/checkout@v3
      with:
        path: ThunderOnWindows/ThunderNanoServices
        repository: ${{github.repository_owner}}/ThunderNanoServices

    - name: Checkout ThunderNanoServicesRDK
      uses: actions/checkout@v3
      with:
        path: ThunderOnWindows/ThunderNanoServicesRDK
        repository: WebPlatformForEmbedded/ThunderNanoServicesRDK

    - name: Install jsonref
      run: pip install jsonref

    - name: Download artifacts
      uses: actions/download-artifact@v3
      with:
        name: ThunderInterfaces-${{matrix.type}}${{matrix.version}}-artifact

    - name: Unpack files
      run: |
        tar -xvzf ${{matrix.type}}${{matrix.version}}.tar.gz
        rm ${{matrix.type}}${{matrix.version}}.tar.gz'

    - name: Build ThunderInterfaces
      shell: cmd
      run: |
        cd ThunderOnWindows
        "%devEnv%" /Build "${{matrix.type}}|x${{matrix.version}}" /Project "%cryptography%"  "%solution%"
        "%devEnv%" /Build "${{matrix.type}}|x${{matrix.version}}" /Project "%deviceinfo%"  "%solution%"
        "%devEnv%" /Build "${{matrix.type}}|x${{matrix.version}}" /Project "%displayinfo%"  "%solution%"
        "%devEnv%" /Build "${{matrix.type}}|x${{matrix.version}}" /Project "%ocdm%"  "%solution%"
        "%devEnv%" /Build "${{matrix.type}}|x${{matrix.version}}" /Project "%securityagent%"  "%solution%"
        "%devEnv%" /Build "${{matrix.type}}|x${{matrix.version}}" /Project "%virtualinput%"  "%solution%"

    - name: Tar files
      run: tar -czvf ${{matrix.type}}${{matrix.version}}.tar.gz artifacts

    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: ThunderClientLibraries-${{matrix.type}}${{matrix.version}}-artifact
        path: ${{matrix.type}}${{matrix.version}}.tar.gz
